img.logo {
    width: 75px;
    height: 75px;
}
#buttonzz{
    margin-left: 1000px;
}
#bgbg{
    filter: brightness(50%);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px grey;
    text-align: center;
  }
#hdhd{
    font-size: 60px;
    text-align: center;
}
#bthead{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: 120px;
}
#bthead1{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 18px;
}
hr{
    border-top: 3px solid grey;
    margin-top: 80px;
}
#misvis{
    margin-top: 80px;
}
#mis{
    text-align: center;
}
#mis1{
    text-align: center;
    font-size: 25px;
}
