* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    text-align: center;
}


h1 {
    margin: 100px;
    font-weight: bold;
    color: #2c3e50;
}

div#calculator {
    border: 2px solid #198754;
    text-align: center;
    padding: 40px;
    border-radius: 10%;
    margin: 0 auto;
    width: clamp(300px, 60%, 600px);
    aspect-ratio: 16/10;
    background-color: whitesmoke;
    opacity: 50%;
    box-shadow: 0  15px 60px 0 rgba(0,0,0, .75);
}

#container {
    display: none;
}

div#calculator p {
    width: 80%;
}

div#left-arrow{
    border: solid #198754 1px;
    margin: auto 0;
    height:50px;
    width: 50px;
    border-radius: 50%;
    float:left;
    opacity: 50%;
    padding: 5px;
}

div#right-arrow{
    border: solid #198754 1px;
    margin: auto 0;
    height:50px;
    width: 50px;
    border-radius: 50%;
    float:right;
    opacity: 50%;
    padding: 5px;
}

div#right-arrow:hover, div#left-arrow:hover {
    cursor: pointer;
    background-color: limegreen;
}

.arrow {
    height: 40px;
    width: 40px;
}

h4 {
    display:block;
    margin: 30px;
    font-weight: bold;
}