* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    text-align: center;
    max-height: 2000px;
}


h1 {
    margin: 100px;
    font-weight: bold;
    color: #2c3e50;
}

div#calculator {
    border: 2px solid #198754;
    text-align: center;
    padding: 40px;
    border-radius: 10%;
    margin: 0 auto;
    width: clamp(300px, 60%, 600px);
    aspect-ratio: 16/10;
    background-color: whitesmoke;
    opacity: 50%;
    box-shadow: 0  15px 60px 0 rgba(0,0,0, .75);
}

#container {
    display: none;
}

div#left-arrow{
    border: solid #198754 1px;
    margin: auto 0;
    height:50px;
    width: 50px;
    border-radius: 50%;
    float:left;
    opacity: 50%;
    padding: 5px;
}

div#right-arrow{
    border: solid #198754 1px;
    margin: auto 0;
    height:50px;
    width: 50px;
    border-radius: 50%;
    float:right;
    opacity: 50%;
    padding: 5px;
}

div#right-arrow:hover, div#left-arrow:hover {
    cursor: pointer;
    background-color: limegreen;
}

.arrow {
    height: 40px;
    width: 40px;
}

div#calculator h4 {
    display:block;
    margin: 30px;
    font-weight: bold;
}

hr {
    margin: 10px auto;
    border: 1px solid #198754;
    width: 80%;
}

div.qn img {
    margin: 30px 200px;
    height: 100px;
    width: auto;
}
div.qn img:hover {
    cursor: pointer;
    animation: rotate 300ms;
    transform: rotate(180deg);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(160deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

div#result h1 {
    margin: 0;
    color: #198754;
    font-weight: bold;
}

div#result h4{
    color: #2c3e50;
    margin: 20px auto;
}

div.result {
    display: none;
}

div.result.show {
    display: block;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

span {
    color: #198754;
    font-weight: bold;
}