html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.background-image{
    
    margin-top: -25px;
    z-index: -2;
    position: relative;
    text-align: center;
    color: white;
    pointer-events: none;
}   
.img1{
    filter: brightness(50%);
}
nav{
    background-color: inherit;
}
.img-texts{
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 300%;
    text-align: right;
    z-index: 1;
    pointer-events: none;

}

.home-header{
    font-size: 60px;
}
.img-texts{
    padding-right: 60px;
}
@media screen and (max-width: 800px) {
    .home-header{
        font-size: 40px;
    }
}
@media screen and (max-width: 500px) {
    .home-header{
        font-size: 30px;
    }
    
}
@media screen and (max-width: 450px) {
    .home-header{
        font-size: 23px;
    }
    
}
@media screen and (max-width: 399px) {
    .home-text{
        font-size: 10px;
    }
    
}

.home-text{
    font-size: 150%;
    z-index: 0;
    margin-top: 50px;
}
.bg-image{
    z-index: -1;
    right: 0;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.homelinks{
    z-index: 1000;
}
.container1{
    margin-top: 30px;
    padding-left: px;
    display: grid;
    grid-template-columns: repeat(2,620px);
    justify-content: center;

}

body{
    min-height: 3400px;
}
#natext{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15px;
}
#nature{
    font-size: 50px;
}
#nature2{
    font-size: 120%;
    margin-top: 20px;
}
#mission{
    color: #2ea44f;
    margin-bottom: 1px;
}
.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 15px;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-3:hover {
    background-color: #2c974b;
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }

  .container2{
    display: grid;
    grid-template-columns: repeat(2, 700px);
    margin-top: 30px;
}
@media (max-width: 1200px) {
    .container2{
        grid-template-columns: repeat(1,700px);
        align-items: center;
    }
    .container1{
        grid-template-columns: repeat(1,700px);
        padding-left: 100px;
        padding-right: 30px;
    }
    #mission{
        font-size: 15px;
    }
    #nature{
        font-size: 20px;
    }
    #nature2{
        font-size: 15px;
    }
    .container1 div img{
        height: 300px;
    }
    
}
#button1{
    text-decoration: none;
    color: white;
}
#button1:hover{
    color: white;
}

#natext2{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15px;
    padding-right: 30px;
}
.container2{
    margin-top: 70px;
}
#button2{
    text-decoration: none;
    color: white;
    
}
form{
    margin-right: 60px;
}
#buttonzz{
    background-color: rgb(0, 153, 255);
    height: 40px;
}
#buttonzz:hover{
    background-color: black;
}
.footer{
    grid-template-columns: repeat(1);
}